<div class="header tw-flex tw-items-center tw-justify-between">
  <div class="tw-cursor-pointer" (click)="navigate()">Kruglamp</div>
  <div>Костромская область, д. Конищево</div>
  <div>89101960000</div>
  <button (click)="open.set(true)" size="m" appearance="flat" tuiButton>
    <tui-icon icon="@tui.menu" />
    Меню
  </button>
</div>

<tui-drawer
  *tuiPopup="open()"
  direction="right"
  class="drawer"
  [overlay]="true"
  (click.self)="onClose()"
>
  <app-sidebar (sidebarClosed)="open.set(false)"></app-sidebar>
</tui-drawer>
