<div>
  <h1 class="tw-text-4xl">Варианты размещения</h1>
  <p class="tw-text-2xl">
    Бодрое описание
  </p>
  <div class="tw-flex tw-flex-wrap tw-gap-x-10 tw-justify-center">
    <div class="card">
        <h2>Aframe</h2>
        <img class="photo" src="assets/images/frame.png" alt="">
        <p class="tw-text-xl">Панорамный дом-шалаш с 1 спальной комнатой и кухней-гостиной. Подойдет для комфортного размещения двух взрослых и одного ребенка.</p>
        <button appearance="primary" tuiButton>Подробнее</button>
    </div>
    <div class="card">
        <h2>House</h2>
        <img class="photo" src="assets/images/house.png" alt="">
        <p class="tw-text-xl">Большой дом с панорамными окнами с двумя спальными комнатами и кухней-гостиной. Подойдет для комфортного размещения шести взрослых людей.</p>
        <button appearance="primary" tuiButton>Подробнее</button>
    </div>
  </div>
</div>
